/*! AccessField - Daniel Weidner <hallo@danielweidner.de> */

/* =====  1 Components  ===================================================== */

/* -----  1.1 Bubble Component  --------------------------------------------- */

.acf-bubble {
  position: relative;
  padding: 1em 1.5em;
  border: 2px solid #ddd;
}

.acf-bubble-up:before,
.acf-bubble-up:after {
  content: "";
  position: absolute;
  right: 0.75em;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 0.75em solid transparent;
  border-bottom-color: #ddd;
}

.acf-bubble-up:after {
  margin-bottom: -3px;
  border-bottom-color: #efefef;
}

/* =====  2 Layout  ========================================================= */

/* -----  1.1 Field Footer  ------------------------------------------------- */

.acf .field-panel {
  position: relative;
  overflow: hidden;
  padding-top: 0.75em;
  margin-top: 1em;
  max-height: 25em;
  transition: max-height 0.2s linear, padding 0.2s linear;
}
.acf .field-panel[aria-hidden="true"] {
  padding-top: 0 !important;
  max-height: 0 !important;
}
.acf .field-help + .field-panel {
  margin-top: 0;
}
  .acf .field-panel :last-child {
    margin-bottom: 0;
  }
